.puContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.puInner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 700px;
    background-color: antiquewhite;
}

.closeButton{
    position: absolute;
    top: 16px;
    right: 16px;
}

.closeButton {
    background-color: #cb4425;
    color: #faf5ed;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    padding: 1% 4%;
    font-size: 0.9em;   
    transition: background-color 0.3s ease; 
}
.closeButton:hover{
    background-color: #ff7b29;
}

.homeButton {
    background-color: #ff7b29;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    padding: 1% 4%;
    font-size: 0.9em;   
    transition: background-color 0.3s ease; 
}

.homeButton:hover{
    background-color: #cb4425;
}

.homeButton a{
    text-decoration: none;
    color: #faf5ed;
}

.puContainer h3{
    font-family: 'M PLUS Rounded 1c', sans-serif;;
}