.cardContainer{
    width: 290px;
    height: 360px;
    box-shadow: -1px 1px 31px -10px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px 1px 31px -10px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px 1px 31px -10px rgba(0,0,0,0.69);
    border-radius: 30px;
    margin: 3px 3px;
}

.cardContainer img {
    width: 290px;
    height: 165px;
    border-radius: 30px 30px 0px 0px;
    justify-content: center;
}

.cardContainer a{
   font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #252a2a;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 290px;
    display: block; /* Change display to block to make ellipsis work */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5%;
}

.cardContainer p{
    line-break: auto;
    text-align: center;
    padding: 2px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7D7C7A;
}

.weight{
    font-style: italic;
}